<footer>
        <div class="row">
            <!--<div class="col-md-12 col-lg-12">-->
            <!--<div class="wow shake" data-wow-delay="0.4s">-->
            <!--<div class="page-scroll marginbot-30">-->
            <!--<a href="#intro" id="totop" class="btn btn-circle">-->
            <!--<i class="fa fa-angle-double-up animated"></i>-->
            <!--</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--<p>&copy;Copyright 2014 - Squad. All rights reserved.</p>-->
            <!--</div>-->
            <div class="col-md-6">
                <ul class="footer-menu">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">服务条款</a></li>
                    <li><a href="#">帮助中心</a></li>
                </ul>
            </div>
            <div class="col-md-6 text-right">
                <p>&copy;Copyright 2014 - learn4me.com</p>
                <p>沪ICP备15020873号-1</p>
            </div>
        </div>
</footer>
<!--<footer>-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<ul class="footer-menu">-->
<!--<li><a href="#">首页</a></li>-->
<!--<li><a href="#">关于我们</a></li>-->
<!--<li><a href="#">服务条款</a></li>-->
<!--<li><a href="#">帮助中心</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="col-md-6 text-right">-->
<!--<p>&copy;Copyright 2014 - learn4me.com</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</footer>-->