<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">
    <alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  </div>
</div>

<div class="row">
	<div class="col-lg-4 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">80</div>
				<div class="comment">有80个用户运行了你的代码</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-4 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-tasks"></i>
				</div>
				<div class="title">{{imagenum}}</div>
				<div class="comment">总共有{{imagenum}}个镜像</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-4 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="fa fa-sitemap"></i>
				</div>
				<div class="title">225</div>
				<div class="comment">总共有225个代码</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<!--<div class="col-lg-3 col-md-6 col-xs-12">-->
		<!--<rd-widget>-->
			<!--<rd-widget-body>-->
				<!--<div class="widget-icon blue pull-left">-->
					<!--<i class="fa fa-support"></i>-->
				<!--</div>-->
				<!--<div class="title">62</div>-->
				<!--<div class="comment">Tickets</div>-->
			<!--</rd-widget-body>-->
		<!--</rd-widget>-->
	<!--</div>-->
</div>
<div class="row">
    <div class="col-lg-4">
        <rd-widget>
            <rd-widget-header icon="fa-plus" title="消息">
                <!--<button class="btn btn-sm btn-info">Button</button>-->
            </rd-widget-header>
            <rd-widget-body classes="medium no-padding">
                <div class="table-responsive">
                    <table class="table">
                        <tr class="message" ng-repeat="m in messages">
                            <td><span data-ng-bind-html="m.Content"></span>
                                <!--<a href=" " ng-click="test($index)">test</a>-->
                                <hr ng-hide="$index==(messages.length-1)"/></td>
                        </tr>
                    </table>
                <!--<div class="message" ng-repeat="m in messages">-->
                    <!--<span data-ng-bind-html="m.Content"></span>-->
                    <!--&lt;!&ndash;<a href=" " ng-click="test($index)">test</a>&ndash;&gt;-->
                    <!--<hr ng-hide="$index==(messages.length-1)"/>-->
                <!--</div>-->
                <!--<div class="message">-->
                <!--你的yy镜像被xxfork了-->
                <!--</div>-->
            </rd-widget-body>
        </rd-widget>
    </div>
    <!--<div class="col-lg-6">-->
    <!--<rd-widget>-->
    <!--<rd-widget-header icon="fa-cog fa-spin" title="Loading Directive">-->
    <!--<a href="http://tobiasahlin.com/spinkit/" target="_blank">SpinKit</a>-->
    <!--</rd-widget-header>-->
    <!--<rd-widget-body>-->
    <!--<rd-loading></rd-loading>-->
    <!--</rd-widget-body>-->
    <!--</rd-widget>-->
    <!--</div>-->
    <div class="col-lg-4">
        <rd-widget>
            <rd-widget-header icon="fa-tasks fa-fire" title="热门镜像">
                <a href="/dashboard.html#/imagehub">更多</a>
            </rd-widget-header>
            <rd-widget-body classes="medium no-padding">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr><th class="text-center">镜像名称</th><th>解释</th><th>状态</th></tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="image in imagelist">
                                <td><a href="#/image/{{image.ImageId}}">{{image.ImageName}}</a></td>
                                <td>{{image.Descrip}}</td>
                                <td>
                                    <span class="text-success" ng-if="image.Status == 1"><i class="fa fa-check"></i></span>
                                    <span tooltip="没有实例运行!" class="text-danger" ng-if="image.Status == 0"><i class="fa fa-warning"></i></span>
                                </td>
                            </tr>
                        <!--<tr><td>C运行环境</td><td>解释说明</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>-->
                        <!--<tr><td>Go运行环境</td><td>解释说明</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>-->
                        <!--<tr><td>LAMP运行环境</td><td>解释说明</td><td><span tooltip="没有实例运行!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>-->
                        <!--<tr><td>ruby运行环境</td><td>解释说明</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>-->
                        <!--<tr><td>spring运行环境</td><td>解释说明</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>-->
                        <!--<tr><td>rust运行环境</td><td>解释说明</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>-->
                        </tbody>
                    </table>
                </div>
            </rd-widget-body>
        </rd-widget>
    </div>

    <div class="col-lg-4">
        <rd-widget>
            <rd-widget-header icon="fa-code fa-fire" title="热门代码">
                <!--<input type="text" placeholder="Search" class="form-control input-sm" />-->
                <a href="#">更多</a>
            </rd-widget-header>
            <rd-widget-body classes="medium no-padding">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr><th class="text-center">代码名称</th><th>类型</th><th>依赖镜像</th></tr>
                        </thead>
                        <tbody>
                        <tr><td class="text-center">hello world</td><td>本地程序</td><td>C运行环境</td></tr>
                        <tr><td class="text-center">测试一下</td><td>本地程序</td><td>Go运行环境</td></tr>
                        <tr><td class="text-center">wordpress</td><td>网络程序</td><td>LAMP</td></tr>
                        </tbody>
                    </table>
                </div>
            </rd-widget-body>
        </rd-widget>
    </div>
</div>
<div class="row">
	<div class="col-lg-6">
		<rd-widget>
      		<rd-widget-header icon="fa-tasks" title="我的镜像">
				<a href="/dashboard.html#/myimage">更多</a>
      		</rd-widget-header>
      		<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
                        <thead>
                            <tr><th class="text-left">镜像名称</th><th>解释</th><th>状态</th></tr>
                        </thead>
						<tbody>
                            <tr ng-repeat="image in imagedata">
                                <td><a href="#/image/{{image.ImageId}}">{{image.ImageName}}</a></td>
                                <td>{{image.Descrip}}</td>
                                <td>
                                    <span class="text-success" ng-if="image.Status == 1"><i class="fa fa-check"></i></span>
                                    <span tooltip="没有实例运行!" class="text-danger" ng-if="image.Status == 0"><i class="fa fa-warning"></i></span>
                                </td>
                            </tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-code" title="我的代码">
				<!--<input type="text" placeholder="Search" class="form-control input-sm" />-->
                <a href="#">更多</a>
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr><th class="text-center">代码名称</th><th>类型</th><th>依赖镜像</th></tr>
						</thead>
						<tbody>
							<tr><td class="text-center">hello world</td><td>本地程序</td><td>C运行环境</td></tr>
							<tr><td class="text-center">测试一下</td><td>本地程序</td><td>Go运行环境</td></tr>
							<tr><td class="text-center">wordpress</td><td>网络程序</td><td>LAMP</td></tr>
						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>

