<div class="mycode-container" data-ng-controller="MyCodeCtrl">
    <div class="row">
        <!--<div class="col-lg-6 col-md-6 col-xs-12">-->
            <!--<rd-widget>-->
                <!--<rd-widget-body>-->
                    <!--<div class="widget-icon green pull-left">-->
                        <!--<i class="fa fa-users"></i>-->
                    <!--</div>-->
                    <!--<div class="title">80</div>-->
                    <!--<div class="comment">有80个用户运行了你的代码</div>-->
                <!--</rd-widget-body>-->
            <!--</rd-widget>-->
        <!--</div>-->
        <div class="col-lg-6 col-md-6 col-xs-12">
            <rd-widget>
                <rd-widget-body>
                    <div class="widget-icon orange pull-left">
                        <i class="fa fa-sitemap"></i>
                    </div>
                    <div class="title">{{page.total}}</div>
                    <div class="comment">总共有{{page.total}}个微教程</div>
                </rd-widget-body>
            </rd-widget>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

            <rd-widget>
                <rd-widget-header icon="fa-code" title="我的代码">
                    <!--<button class="btn btn-sm btn-info" ng-click="newCode()">新建</button>-->
                    <a class="btn btn-sm btn-info" href="#/newcode">新建</a>
                </rd-widget-header>
                <rd-widget-body classes="medium no-padding">
                    <div class="table-responsive">
                        <legend ng-hide="!flag.is_show">{{flag.msg}}</legend>
                        <div ng-hide="!flag.is_show" class="bubblingG" style="
margin-left: 144px;">
                            <span id="bubblingG_1"></span>
                            <span id="bubblingG_2"></span>
                            <span id="bubblingG_3"></span>
                        </div>
                        <div ng-hide="flag.is_show">
                        <table class="table">
                            <thead>
                            <tr><th>微教程名称</th><th>描述</th><th>创建时间</th></tr>
                            </thead>
                            <tbody>
                            <!--<tr><td><a href="#">hello world</a></td><td>本地程序</td><td>C运行环境</td></tr>-->
                            <!--<tr><td><a href="#">测试一下</a></td><td>本地程序</td><td>Go运行环境</td></tr>-->
                            <!--<tr><td><a href="#">wordpress</a></td><td>网络程序</td><td>LAMP</td></tr>-->
                            <tr ng-repeat="code in codedata">
                                <td><a href="#/code/{{code.id}}">{{code.name}}</a></td>
                                <td>{{code.description}}</td>
                                <td>{{code.create_date}}</td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </rd-widget-body>
                <rd-widget-footer>
                    <ul class="pagination pagination-sm pull-right">
                        <li><a href="#" ng-click="currentData(1)">&laquo;</a></li>
                        <li ng-repeat="page in pagination" ng-class="{active:page.is_active}">
                            <a href="#" ng-click="currentData(page.index)">{{page.index}}</a>
                        </li>
                        <li><a href="#" ng-click="currentData(pagination.length)">&raquo;</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </rd-widget-footer>
                <rd-widget>

            </div>
    </div>
</div>
