<style>
    .bubblingG {
        text-align: center;
        width:80px;
        height:50px;
    }

    .bubblingG span {
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        margin: 25px auto;
        background: #113D87;
        -moz-border-radius: 50px;
        -moz-animation: bubblingG 1.3s infinite alternate;
        -webkit-border-radius: 50px;
        -webkit-animation: bubblingG 1.3s infinite alternate;
        -ms-border-radius: 50px;
        -ms-animation: bubblingG 1.3s infinite alternate;
        -o-border-radius: 50px;
        -o-animation: bubblingG 1.3s infinite alternate;
        border-radius: 50px;
        animation: bubblingG 1.3s infinite alternate;
    }

    #bubblingG_1 {
        -moz-animation-delay: 0s;
        -webkit-animation-delay: 0s;
        -ms-animation-delay: 0s;
        -o-animation-delay: 0s;
        animation-delay: 0s;
    }

    #bubblingG_2 {
        -moz-animation-delay: 0.39s;
        -webkit-animation-delay: 0.39s;
        -ms-animation-delay: 0.39s;
        -o-animation-delay: 0.39s;
        animation-delay: 0.39s;
    }

    #bubblingG_3 {
        -moz-animation-delay: 0.78s;
        -webkit-animation-delay: 0.78s;
        -ms-animation-delay: 0.78s;
        -o-animation-delay: 0.78s;
        animation-delay: 0.78s;
    }

    @-moz-keyframes bubblingG {
        0% {
            width: 10px;
            height: 10px;
            background-color:#113D87;
            -moz-transform: translateY(0);
        }

        100% {
            width: 24px;
            height: 24px;
            background-color:#FFFFFF;
            -moz-transform: translateY(-21px);
        }

    }

    @-webkit-keyframes bubblingG {
        0% {
            width: 10px;
            height: 10px;
            background-color:#113D87;
            -webkit-transform: translateY(0);
        }

        100% {
            width: 24px;
            height: 24px;
            background-color:#FFFFFF;
            -webkit-transform: translateY(-21px);
        }

    }

    @-ms-keyframes bubblingG {
        0% {
            width: 10px;
            height: 10px;
            background-color:#113D87;
            -ms-transform: translateY(0);
        }

        100% {
            width: 24px;
            height: 24px;
            background-color:#FFFFFF;
            -ms-transform: translateY(-21px);
        }

    }

    @-o-keyframes bubblingG {
        0% {
            width: 10px;
            height: 10px;
            background-color:#113D87;
            -o-transform: translateY(0);
        }

        100% {
            width: 24px;
            height: 24px;
            background-color:#FFFFFF;
            -o-transform: translateY(-21px);
        }

    }

    @keyframes bubblingG {
        0% {
            width: 10px;
            height: 10px;
            background-color:#113D87;
            transform: translateY(0);
        }

        100% {
            width: 24px;
            height: 24px;
            background-color:#FFFFFF;
            transform: translateY(-21px);
        }

    }
</style>
<div class="newstep-container" data-ng-controller="NewStepCtrl">
    <div steps>
        <h3>创建步骤</h3>
        <fieldset>
            <legend>步骤信息</legend>
            <div class="form-group">
                <label for="name" class="col-md-2 control-label">名称</label>
                <div class="col-md-10">
                    <input type="text"
                           ng-model="newstep.meta.name"
                           class="form-control"
                           id="name"
                           placeholder="请输入名称">
                    <span><p class="validation-invalid">此处必填</p></span>
                </div>
            </div>
            <div class="form-group">
                <label for="image" class="col-md-2 control-label">关联镜像</label>
                <div class="col-md-10">
                    <select id="image" ng-model="newstep.meta.image_id">
                        <option value=1>ubuntu</option>
                        <option value=2>python:2</option>
                        <option value=3>python:3</option>
                        <option value=4>centos</option>
                    </select>
                    <span><p class="validation-invalid">此处必选</p></span>
                </div>
            </div>
            <div class="form-group">
                <label for="code_name" class="col-md-2 control-label">默认代码文件名</label>
                <div class="col-md-10">
                    <input type="text"
                           ng-model="newstep.meta.code_name"
                           class="form-control"
                           id="code_name"
                           placeholder="请输入存储代码的文件名称（后面的操作以这个文件名为准）">
                    <span><p class="validation-invalid">此处必填</p></span>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-md-2 control-label">描述</label>
                <div class="col-md-10">
                    <textarea  name="description"
                               required
                               style="height:200px"
                               ng-model="newstep.meta.description"
                               class="form-control"
                               id="description"
                               placeholder="请简要描述一下"
                            ></textarea>
                    <span><p class="validation-invalid">此处必填</p></span>
                </div>
            </div>
        </fieldset>

        <h3>增加执行命令</h3>
        <fieldset>
            <legend ng-hide="stepinfo.is_created">{{stepinfo.msg}}</legend>
            <div ng-hide="stepinfo.is_created" class="bubblingG" style="
margin-left: 144px;">
                <span id="bubblingG_1"></span>
                <span id="bubblingG_2"></span>
                <span id="bubblingG_3"></span>
            </div>
            <legend ng-show="stepinfo.is_created">
                <abbr class="iconset-fontawesome icon-cog" title="eg:编译命令和执行命令，可以替代shell脚本,最多4条">增加执行时的命令</abbr>
            </legend>
            <div ng-show="stepinfo.is_created">
                    <div icon="fa-tasks fa-fire" title="命令列表">
                    </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr><th class="text-center">编号</th><th>命令</th><th>参数</th><th><abbr title="执行该条命令的时候，入参可以重新输入">是否为可替换参数</abbr></th><th>清空</th></tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="col-lg-6">
                                            <div class="col-lg-12">
                                                <a ng-click="upCmd(0)"><i class="fa fa-arrow-up"></i></a>
                                            </div>
                                            <div class="col-lg-12">
                                                <a ng-click="downCmd(0)"><i class="fa fa-arrow-down"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <p>1</p>
                                        </div>
                                    </td>
                                    <td><input type="text" ng-model="newstep.cmds[0].Cmd"/></td>
                                    <td><input type="text" ng-model="newstep.cmds[0].Args"/></td>
                                    <td>
                                        <input type="radio" name="is_replace" value="0" ng-model="cmd.is_replace">
                                    </td>
                                    <td><a ng-click="removeCmd(0)"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-lg-6">
                                            <div class="col-lg-12">
                                                <a ng-click="upCmd(1)"><i class="fa fa-arrow-up"></i></a>
                                            </div>
                                            <div class="col-lg-12">
                                                <a ng-click="downCmd(1)"><i class="fa fa-arrow-down"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <p>2</p>
                                        </div>
                                    </td>
                                    <td><input type="text" ng-model="newstep.cmds[1].Cmd"/></td>
                                    <td><input type="text" ng-model="newstep.cmds[1].Args"/></td>
                                    <td>
                                        <input type="radio" name="is_replace" value="1" ng-model="cmd.is_replace">
                                    </td>
                                    <td><a ng-click="removeCmd(1)"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-lg-6">
                                            <div class="col-lg-12">
                                                <a ng-click="upCmd(2)"><i class="fa fa-arrow-up"></i></a>
                                            </div>
                                            <div class="col-lg-12">
                                                <a ng-click="downCmd(2)"><i class="fa fa-arrow-down"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <p>3</p>
                                        </div>
                                    </td>
                                    <td><input type="text" ng-model="newstep.cmds[2].Cmd"/></td>
                                    <td><input type="text" ng-model="newstep.cmds[2].Args"/></td>
                                    <td>
                                        <input type="radio" name="is_replace" value="2" ng-model="cmd.is_replace">
                                    </td>
                                    <td><a ng-click="removeCmd(2)"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-lg-6">
                                            <div class="col-lg-12">
                                                <a ng-click="upCmd(3)"><i class="fa fa-arrow-up"></i></a>
                                            </div>
                                            <div class="col-lg-12">
                                                <a ng-click="downCmd(3)"><i class="fa fa-arrow-down"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <p>4</p>
                                        </div>
                                    </td>
                                    <td><input type="text" ng-model="newstep.cmds[3].Cmd"/></td>
                                    <td><input type="text" ng-model="newstep.cmds[3].Args"/></td>
                                    <td>
                                        <input type="radio" name="is_replace" value="3" ng-model="cmd.is_replace">
                                    </td>
                                    <td><a ng-click="removeCmd(3)"><i class="fa fa-times"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
            </div>
        </fieldset>

        <h3>进入内容编辑</h3>

        <fieldset>
            <legend ng-hide="stepinfo.is_created">{{stepinfo.msg}}</legend>
            <div ng-hide="stepinfo.is_created" class="bubblingG" style="
margin-left: 144px;">
                <span id="bubblingG_1"></span>
                <span id="bubblingG_2"></span>
                <span id="bubblingG_3"></span>
            </div>
            <button class="btn" ng-show="stepinfo.is_created">去编辑</button>
            <a href="editor.html#/editor/{{codeid}}/{{stepid}}" class="btn-lg btn-success" ng-show="stepinfo.is_created">去编辑</a>
        </fieldset>
    </div>

</div>