<div class="singlecode-container" data-ng-controller="MySingleCodeCtrl">
    <div class="row">
        <div class="col-lg-12">
            <rd-widget>
                <rd-widget-header icon="fa-code" title="{{code.name}}">
                    <div class="pull-right">
                        <i class="fa fa-thumbs-o-up">{{code.stars}}</i>
                        <!--<i class="fa fa-code-fork">{{code.forknum}}</i>-->
                        <i class="fa fa-code-fork">6</i>
                        <i class="fa fa-calendar">{{code.create_date}}</i>
                    </div>
                </rd-widget-header>
                <rd-widget-body>
                    <div class="comment">{{code.description}}</div>
                </rd-widget-body>
            <rd-widget>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12" >
            <rd-widget>
                <rd-widget-header icon="fa-files-o" title="{{code.codename}}代码">
                    <!--<a href="editor.html#/editor/{{code.codeid}}" class="btn btn-sm btn-info">增加步骤</a>-->
                    <a href="#/addstep/{{code.id}}" class="btn btn-sm btn-info">增加步骤</a>
                </rd-widget-header>
                <rd-widget-body classes="medium no-padding">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr><th>名称</th><th>描述</th><th>创建时间</th><th>镜像</th></tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="step in codesteps" ng-if="codesteps!=null">
                                <td>
                                    <a href="editor.html#/show/{{code.id}}/{{step.id}}" class="fa fa-file-code-o">{{step.name}}</a>
                                </td>
                                <td>{{step.description}}</td>
                                <td>{{step.create_date}}</td>
                                <td>{{step.image_id}}</td>
                            </tr>
                            <div ng-if="codesteps == null">
                                暂时没有
                            </div>
                            </tbody>
                        </table>
                    </div>
                </rd-widget-body>
            </rd-widget>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12" >
            <rd-widget>
                <rd-widget-header icon="fa-stack-overflow" title="{{code.codename}}条轮">
                    <button class="btn btn-sm btn-info" ng-click="newDiscuss()">新建一个讨论</button>
                </rd-widget-header>
                <rd-widget-body classes="medium no-padding">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr><td><a href="" class="fa fa-bug">楼主你傻逼了</a> </td></tr>
                            <tr><td><a href="" class="fa fa-bug">楼主拟傻逼了2次</a> </td></tr>
                            <tr><td><a href="" class="fa fa-bug">一百块都不给我</a> </td></tr>
                            </tbody>
                        </table>
                    </div>
                </rd-widget-body>
                <rd-widget-footer>
                    <ul class="pagination pagination-sm pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </rd-widget-footer>
            </rd-widget>
        </div>
    </div>

</div>
