<div class="singlecode-container" data-ng-controller="MySingleImageCtrl" id="imagePage">
    <div class="row pull-right">
        <div class="col-lg-12 col-md-12 col-xs-12" >
            <!--<button class="btn btn-sm btn-info" ng-click="editTerminal()">编辑镜像</button>-->
            <!--<button type="submit" class="btn btn-sm btn-info" ng-click="deleteImage()" style="margin-right: 10px">删除</button>-->
            <a href="image.html#/edit/{{image.id}}" id="editButton" class="btn btn-sm btn-info" style="display: none">编辑</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <rd-widget>
                <rd-widget-header icon="fa-code" title="{{image.imagename}}">
                    <div class="pull-right">
                        <a href=" " id="imageStar" ng-style="{color:starcolor}" ng-click="starImage()"><i class="fa fa-thumbs-o-up" data-ng-bind="image.star"></i></a>
                        <a href=" " id="imageFork" ng-style="{color:forkcolor}" ng-click="forkImage()"><i class="fa fa-code-fork">{{image.fork}}</i></a>
                        <i class="fa fa-calendar">{{image.date}}</i>
                    </div>
                </rd-widget-header>
                <rd-widget-body>
                    <div class="comment">{{image.description}}</div>
                </rd-widget-body>
            </rd-widget>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12" >
            <rd-widget>
                <rd-widget-header icon="fa-stack-overflow" title="{{image.imagename}}讨论">
                    <a class="btn btn-sm btn-info" href="#/image/{{image.id}}/newissue">新建一个讨论</a>
                </rd-widget-header>
                <rd-widget-body classes="medium no-padding">
                    <legend ng-hide="flag.issue.is_show">{{flag.issue.msg}}</legend>
                    <div ng-hide="flag.issue.is_show" class="bubblingG" style="
margin-left: 144px;">
                        <span id="bubblingG_1"></span>
                        <span id="bubblingG_2"></span>
                        <span id="bubblingG_3"></span>
                    </div>
                    <div class="table-responsive" ng-hide="!flag.issue.is_show">
                        <table class="table">

                            <tbody>
                            <tr ng-repeat="obj in flag.issue.data">
                                <td>
                                    <a href="dashboard.html#/image/{{image.id}}/issue/{{obj.id}}" class="fa fa-bug">{{obj.title}}</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                </rd-widget-body>
                <rd-widget-footer>
                    <ul class="pagination pagination-sm pull-right">
                        <li><a href="#" ng-click="currentData(1)">&laquo;</a></li>
                        <li ng-repeat="page in pagination" ng-class="{active:page.is_active}">
                            <a href="#" ng-click="currentData(page.index)">{{page.index}}</a>
                        </li>
                        <li><a href="#" ng-click="currentData(pagination.length)">&raquo;</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </rd-widget-footer>
            </rd-widget>
        </div>
    </div>

</div>

<div id="loading" style="height: 200px;display: none;text-align:center;">
    <h1 id="text">创建中...</h1>
    <div class="bubblingG" style="margin-left: auto;margin-right: auto;margin-top: 20px;">
        <span id="bubblingG_1"></span>
        <span id="bubblingG_2"></span>
        <span id="bubblingG_3"></span>
    </div>
</div>

<style>
    .bubblingG {
        text-align: center;
        width:80px;
        height:50px;
    }

    .bubblingG span {
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        margin: 25px auto;
        background: #113D87;
        -moz-border-radius: 50px;
        -moz-animation: bubblingG 1.3s infinite alternate;
        -webkit-border-radius: 50px;
        -webkit-animation: bubblingG 1.3s infinite alternate;
        -ms-border-radius: 50px;
        -ms-animation: bubblingG 1.3s infinite alternate;
        -o-border-radius: 50px;
        -o-animation: bubblingG 1.3s infinite alternate;
        border-radius: 50px;
        animation: bubblingG 1.3s infinite alternate;
    }

    #bubblingG_1 {
        -moz-animation-delay: 0s;
        -webkit-animation-delay: 0s;
        -ms-animation-delay: 0s;
        -o-animation-delay: 0s;
        animation-delay: 0s;
    }

    #bubblingG_2 {
        -moz-animation-delay: 0.39s;
        -webkit-animation-delay: 0.39s;
        -ms-animation-delay: 0.39s;
        -o-animation-delay: 0.39s;
        animation-delay: 0.39s;
    }

    #bubblingG_3 {
        -moz-animation-delay: 0.78s;
        -webkit-animation-delay: 0.78s;
        -ms-animation-delay: 0.78s;
        -o-animation-delay: 0.78s;
        animation-delay: 0.78s;
    }

    @-moz-keyframes bubblingG {
        0% {
            width: 10px;
            height: 10px;
            background-color:#113D87;
            -moz-transform: translateY(0);
        }

        100% {
            width: 24px;
            height: 24px;
            background-color:#FFFFFF;
            -moz-transform: translateY(-21px);
        }

    }

    @-webkit-keyframes bubblingG {
        0% {
            width: 10px;
            height: 10px;
            background-color:#113D87;
            -webkit-transform: translateY(0);
        }

        100% {
            width: 24px;
            height: 24px;
            background-color:#FFFFFF;
            -webkit-transform: translateY(-21px);
        }

    }

    @-ms-keyframes bubblingG {
        0% {
            width: 10px;
            height: 10px;
            background-color:#113D87;
            -ms-transform: translateY(0);
        }

        100% {
            width: 24px;
            height: 24px;
            background-color:#FFFFFF;
            -ms-transform: translateY(-21px);
        }

    }

    @-o-keyframes bubblingG {
        0% {
            width: 10px;
            height: 10px;
            background-color:#113D87;
            -o-transform: translateY(0);
        }

        100% {
            width: 24px;
            height: 24px;
            background-color:#FFFFFF;
            -o-transform: translateY(-21px);
        }

    }

    @keyframes bubblingG {
        0% {
            width: 10px;
            height: 10px;
            background-color:#113D87;
            transform: translateY(0);
        }

        100% {
            width: 24px;
            height: 24px;
            background-color:#FFFFFF;
            transform: translateY(-21px);
        }

    }
</style>
