<div class="singlecode-container" data-ng-controller="MySingleCodeCtrl">
    <div class="row">
        <div class="col-lg-12">
            <rd-widget>
                <rd-widget-header icon="fa-code" title="{{code.name}}">
                    <div class="pull-right">
                        <a ng-click="starIt()"><i class="fa fa-thumbs-o-up" data-ng-bind="code.star" ></i></a>
                        <!--<i class="fa fa-code-fork">{{code.forknum}}</i>-->
                        <i class="fa fa-calendar">{{code.create_date}}</i>
                        <a href="#/editor/code/{{code.id}}" ng-show="is_author">
                            <i class="fa fa-pencil-square-o">编辑</i>
                        </a>
                    </div>
                </rd-widget-header>
                <rd-widget-body>
                    <div class="comment">{{code.description}}</div>
                </rd-widget-body>
            <rd-widget>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12" >


            <rd-widget>
                <rd-widget-header icon="fa-files-o" title="{{code.codename}}代码">
                    <!--<a href="editor.html#/editor/{{code.codeid}}" class="btn btn-sm btn-info">增加步骤</a>-->
                    <a href="#/addstep/{{code.id}}" class="btn btn-sm btn-info" ng-show="is_author">增加步骤</a>
                </rd-widget-header>
                <rd-widget-body classes="medium no-padding">
                    <legend ng-hide="!flag.is_show">{{flag.msg}}</legend>
                    <div ng-hide="!flag.is_show" class="bubblingG" style="
margin-left: 144px;">
                        <span id="bubblingG_1"></span>
                        <span id="bubblingG_2"></span>
                        <span id="bubblingG_3"></span>
                    </div>
                    <div class="table-responsive">
                        <div ng-hide="flag.is_show">
                        <table class="table">
                            <thead>
                            <tr><th>名称</th><th>描述</th><th>创建时间</th><th>镜像</th><th>状态</th></tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="step in codesteps" ng-if="codesteps!=null">
                                <td>
                                    <a href="editor.html#/show/{{code.id}}/{{step.id}}" class="fa fa-file-code-o">{{step.name}}</a>
                                </td>
                                <td>{{step.description}}</td>
                                <td>{{step.create_date}}</td>
                                <td>{{step.image_id}}</td>
                                <td>
                                    <a href="#/editor/step/{{code.id}}/{{step.id}}" ng-show="is_author">
                                        <abbr ng-if="step.status == 1" title="点击进行编辑">草稿</abbr>
                                        <abbr ng-if="step.status == 2" title="点击进行编辑">已完成</abbr>
                                    </a>
                                    <a ng-show="!is_author">
                                        <abbr ng-if="step.status == 1" title="尚未完成">草稿</abbr>
                                        <abbr ng-if="step.status == 2" title="已经完成">已完成</abbr>
                                    </a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        </div>
                    </div>
                </rd-widget-body>
            </rd-widget>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12" >
            <rd-widget>
                <rd-widget-header icon="fa-stack-overflow" title="{{code.codename}}条轮">
                    <button class="btn btn-sm btn-info" ng-click="newDiscuss()">新建一个讨论</button>
                </rd-widget-header>
                <rd-widget-body classes="medium no-padding">
                    <legend ng-hide="flag.issue.is_show">{{flag.issue.msg}}</legend>
                    <div ng-hide="flag.issue.is_show" class="bubblingG" style="
margin-left: 144px;">
                        <span id="bubblingG_1"></span>
                        <span id="bubblingG_2"></span>
                        <span id="bubblingG_3"></span>
                    </div>
                    <div class="table-responsive" ng-hide="!flag.issue.is_show">
                        <table class="table">

                            <tbody>
                            <tr ng-repeat="obj in flag.issue.data">
                                <td>
                                    <a href="dashboard.html#/code/{{code.id}}/issue/{{obj.id}}" class="fa fa-bug">{{obj.title}}</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                </rd-widget-body>
                <rd-widget-footer>
                    <ul class="pagination pagination-sm pull-right">
                        <li><a href="#" ng-click="currentData(1)">&laquo;</a></li>
                        <li ng-repeat="page in pagination" ng-class="{active:page.is_active}">
                            <a href="#" ng-click="currentData(page.index)">{{page.index}}</a>
                        </li>
                        <li><a href="#" ng-click="currentData(pagination.length)">&raquo;</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </rd-widget-footer>
            </rd-widget>
        </div>
    </div>

</div>
