<div class="editor-container" data-ng-controller="EditorCtrl">
    <div id="page-wrapper2">
        <!-- Header Bar -->
        <div class="row header">
            <div class="col-lg-12">
                <div class="user pull-right">
                    <div class="item dropdown">
                        <a href="#" class="dropdown-toggle">
                            <img src="{{user.userimg}}">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-header">
                                {{user.name}}
                            </li>
                            <li class="divider"></li>
                            <li class="link">
                                <a href="#">
                                    我的资料
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="link">
                                <a href="#" ng-click="logout()">
                                    退出登陆
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="item dropdown">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-bell-o"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-header">
                                通知
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">你的镜像被xx fork啦!</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="meta">
                    <div class="page">
                        编辑器
                    </div>
                    <div class="breadcrumb-links">
                        Home / Dashboard /Editor
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Bar -->
        <div class="col-lg-6 editor-left">
            <div class="editor-left-main">
                <mdeditor>
                    <textarea id="md-text-editor"></textarea>
                </mdeditor>
            </div>
        </div>
        <div class="col-lg-6 editor-right">
            <div ui-ace="{
              require: ['ace/ext/language_tools'],
              advanced: {
                  enableSnippets: true,
                  enableBasicAutocompletion: true,
                  enableLiveAutocompletion: true,
                  enableBasicAutocompletion: true
              },
              theme:'twilight'
            }">

            </div>
        </div>
        <div class="row editor-left-footer">
            <p>footer</p>
        </div>
    </div><!-- End Page Wrapper -->
</div>