<div>
    <div class="col-lg-12">
        <div icon="fa-tasks fa-fire" title="命令列表">
            <a class="btn btn-sm btn-info" ng-click="coderun()" style="float: right;margin-top: 4px;">运行</a>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr><th>编号</th><th>命令</th><th>参数</th></tr>
                </thead>
                <tbody>
                <tr ng-repeat="cmd in step.cmds">
                    <td>
                            <p>{{cmd.Seq}}</p>
                    </td>
                    <td><p>{{cmd.Cmd}}</p></td>
                    <td>
                        <div ng-if="cmd.Is_replace ==2">
                            <p ng-if="cmd.Is_replace ==2" style="color:red"><input type="text" ng-model="cmd.Args" /> (修改参数)</p>
                        </div>
                        <p ng-if="cmd.Is_replace == 1">{{cmd.Args}}</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-12">
        <consolelog name="console">

        </consolelog>
    </div>
</div>
