<div class="showcode-container" data-ng-controller="ShowCtrl">
    <!-- Header Bar -->
    @@include('../../show/templates/common/header.html')
    <div id="page-wrapper3"  ng-show="page.show" ng-class="{'open': page.toggle}" ng-cloak>

        <div class="editor-left" style="background: #e2f1a7">
        <div style="width:100%;height:20px">
                <div class="col-xs-11" style="text-align: center;">
                <h3>{{step.meta.name}}</h3>
                </div>
                <div class="col-xs-1">
                                <button  style="  float: right;margin-right: -26%;"class="btn btn-primary btn-lg glyphicon glyphicon-arrow-left" ng-click="switchIt()"></button>
                </div>

            </div>
            
            <div class="CodeMirror editor-left-main post_content col-xs-12">
                <div data-ng-bind-html="show.post_content" id="show_content" style="max-height:100%;  overflow-y: auto;
  overflow-x: hidden">
                </div>
            </div>

        </div>
        <div class="editor-right">
            <div role="tabpanel">
                <ul class="nav nav-pills" role="tablist" style="background: #503333;margin-bottom: 1px">
                    <li ng-repeat="pane in panes" role="presentation" ng-class="{'active': pane.active}">
                        <button  class="btn" ng-click="active(pane)" ng-class="{'btn_clickd': pane.active}" style="background: #1d1515;" role="tab" data-toggle="tab">{{pane.title}}</button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-content" ng-show="code_show.show">
                        <div ng-repeat="pane in panes" role="tabpanel"  ng-class="{'tab-pane fade in active': pane.active,'tab-pane fade':!pane.active}">
                            <div ng-include="pane.content">

                            </div>
                        </div>
                    </div>

                    <div ng-show="!code_show.show">
                        <div style="height: 200px;" class="col-lg-4 col-lg-offset-5">
                            <h1>{{code_show.msg}}</h1>
                            <div class="bubblingG" style="
    margin-left: 144px;">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- End Page Wrapper -->
    <div id="page-wrapper3" class="CodeMirror open" ng-show="!page.show">
        <div class="col-lg-4 col-lg-offset-5">
            <div style="height: 200px;">
                <h1>正在准备中。。。</h1>
                <div class="bubblingG" style="
    margin-left: 144px;">
                    <span id="bubblingG_1"></span>
                    <span id="bubblingG_2"></span>
                    <span id="bubblingG_3"></span>
                </div>
            </div>
        </div>
    </div>
    <div  style="background: #2d3e63" class="editor-footer">
        <div class="col-xs-4 center">
            <a ng-show="page.pre.index == -1">none</a>
            <a ng-show="page.pre.index != -1" href="/editor.html#/show/{{info.id}}/{{page.pre.data.id}}">{{page.pre.data.name}}</a>
        </div>
        <div class="col-xs-4 center">
            <a href="/dashboard.html#/code/{{info.id}}">{{info.name}}</a>
        </div>
        <div class="col-xs-4 center">
            <a ng-show="page.next.index == -1">none</a>
            <a ng-show="page.next.index != -1" href="/editor.html#/show/{{info.id}}/{{page.next.data.id}}">{{page.next.data.name}}</a>
        </div>
    </div>
</div>