<div class="showcode-container" data-ng-controller="ShowCtrl">
    <div id="page-wrapper2"  ng-class="{'open': toggle}" ng-cloak>

        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="background: #C5CDDF !important;">
            <div class="sidebar">
                <ul class="sidebar">
                    <li class="sidebar-main">
                        <a id="link" ng-click="toggleSidebar()">
                            {{code.codename}}
                            <span class="menu-icon glyphicon glyphicon-transfer"></span>
                        </a>
                    </li>
                    <li class="sidebar-title"><span ng-bind="code.codename"></span></li>
                    <div class="col-lg-12">
                        <h1>下面讲解如何使用这个代码</h1>
                        <p>hehe2</p>
                        <p>dsafasfasffas</p>
                        <p>sdfwqrwejfhsdhfdsuhfu</p>
                        <p>用户在这里显示它的代码说明</p>
                        <p>别人就来借鉴这个说明来进行围观代码</p>
                        <p>为了较少难度,我觉得还是从单文件开始,比如先弄一些c,C++,go,python等语言的hello world,这部分功能做好之后,我们在做网络程序一类的代码</p>
                    </div>

            </div>
            <div class="sidebar-footer">
                <div class="col-xs-4">
                    <a ui-sref="show" >
                        上一部分
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="dashboard.html#/code/1">
                        返回
                    </a>
                </div>
                <div class="col-xs-4">
                    <a ui-sref="show">
                        下一部分
                    </a>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div id="content-wrapper">
            <div class="page-content">
                <!-- Main Content -->
                <!--code editor-->
                <div class="row">
                    <div class="col-lg-12">
                        <rd-widget>
                            <rd-widget-header icon="fa-tasks" title="代码">
                                <button class="btn btn-sm btn-info" ng-click="runCode()">运行</button>
                            </rd-widget-header>
                            <rd-widget-body classes="medium no-padding">
                                <div class="comments">这里面时用来显示代码的</div>
                            </rd-widget-body>
                        </rd-widget>
                    </div>
                </div>
                <!--code console-->
                <div class="row">
                    <div class="col-lg-12">
                        <rd-widget>
                            <rd-widget-header icon="fa-tasks" title="输出">
                            </rd-widget-header>
                            <rd-widget-body classes="medium no-padding">
                                <div class="comments">这里来显示结果</div>
                            </rd-widget-body>
                        </rd-widget>
                    </div>
                </div>

            </div><!-- End Page Content -->
        </div><!-- End Content Wrapper -->
    </div><!-- End Page Wrapper -->
</div>