/* app css stylesheet */
#content-wrapper{
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
@media only screen and (min-width: 561px) {
    #page-wrapper2.open {
        padding-left: 0px;
    }
}
@media only screen and (max-width: 560px) {
    #page-wrapper2.open {
        padding-left: 0px;
    }
}
#page-wrapper2.open #sidebar-wrapper {
}


@media only screen and (min-width: 1255px)  {
    #page-wrapper3:not(.open) {
        margin-left: -97% !important;
    }
}
@media only screen and (min-width: 1055px) and (max-width: 1254px){
    #page-wrapper3:not(.open) {
        margin-left: -96% !important;
    }
}

@media only screen and (min-width: 561px) and (max-width: 1054px) {
    #page-wrapper3:not(.open) {
        margin-left: -94% !important;
    }
}
@media only screen and (min-width: 360px) and (max-width: 560px){
    #page-wrapper3:not(.open) {
        margin-left: -91% !important;
    }
}
@media only screen and (max-width: 359px) and (min-width: 0px){
    #page-wrapper3:not(.open) {
        margin-left: -88% !important;
    }
}
#page-wrapper3.open .editor-left {
    float: left;
    width: 50%;
}
#page-wrapper3.open .editor-right {
    float: left;
    width: 50%;
}
#page-wrapper3:not(.open) .editor-left {
    float: left;
    width: 50%;
}
#page-wrapper3:not(.open) .editor-right {
    float: left;
    width: 50%;
}
/**
 * Hamburg Menu
 * When the class of 'hamburg' is applied to the body tag of the document,
 * the sidebar changes it's style to attempt to mimic a menu on a phone app,
 * where the content is overlaying the content, rather than push it.
 */
@media only screen and (max-width: 900px) {
    #page-wrapper3{

    }
    #page-wrapper3:not(.open) .editor-left {
        float:left;
        width: 50%;
    }
    #page-wrapper3:not(.open) .editor-right {
        float:left;
        width: 50%;
    }
    #page-wrapper3.open .editor-left {
        float:left;
        width: 100%;
    }
    #page-wrapper3.open .editor-right {
        float:left;
        width: 0;
        display: none;
    }
    #page-wrapper2 {
        padding-left: 0;
    }
    #page-wrapper2:not(.open) #sidebar-wrapper {
        position: absolute;
        left: -100px;
    }
    #page-wrapper2:not(.open) ul.sidebar .sidebar-title.separator {
        display: none;
    }
    #page-wrapper2.open #sidebar-wrapper {
        position: fixed;
    }
    #page-wrapper2.open #sidebar-wrapper ul.sidebar li.sidebar-main {
        margin-left: 0px;
    }
    #sidebar-wrapper ul.sidebar li.sidebar-main
    {
        margin-left: 70px;
    }
    .row.header .meta{
        margin-left: -10px;
    }
    #sidebar-wrapper ul.sidebar li.sidebar-main,
    #page-wrapper2.open #sidebar-wrapper ul.sidebar li.sidebar-main {
        transition: margin-left 0.4s ease 0s;
    }
}

/**
 * Header
 */
.row.header {
    height: 60px;
    background: #2d3e63 !important;
    margin-bottom: 15px;
}
.row.header > div:last-child {
    padding-right: 0;
}
.row.header .meta .page {
    font-size: 17px;
    padding-top: 11px;
    color: #FFFFFF;
}
.row.header .meta .breadcrumb-links {
    font-size: 10px;
    color: #FFFFFF;
}
.row.header .meta div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.row.header .login a {
    padding: 18px;
    display: block;
}
.row.header .user {
    min-width: 130px;
}
.row.header .user > .item {
    width: 65px;
    height: 60px;
    float: right;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.row.header .user > .item a {
    color: #919191;
    display: block;
}
.row.header .user > .item i {
    font-size: 20px;
    line-height: 55px;
}
.row.header .user > .item img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border-radius: 2px;
}
.row.header .user > .item ul.dropdown-menu {
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
}
.row.header .user > .item ul.dropdown-menu .dropdown-header {
    text-align: center;
}
.row.header .user > .item ul.dropdown-menu li.link {
    text-align: left;
}
.row.header .user > .item ul.dropdown-menu li.link a {
    padding-left: 7px;
    padding-right: 7px;
}
.row.header .user > .item ul.dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 23px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    content: '';
}
.row.header .user > .item ul.dropdown-menu:after {
    position: absolute;
    top: -6px;
    right: 24px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.loading {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}
.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2s infinite ease-in-out;
    animation: bounce 2s infinite ease-in-out;
}
.double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
@-webkit-keyframes bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
    }
}
@keyframes bounce {
    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

/* Fonts */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-regular-webfont.woff') format('woff'), url('../fonts/montserrat-regular-webfont.ttf') format('truetype'), url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'Montserrat';
        src: url('../fonts/montserrat-regular-webfont.svg') format('svg');
    }
    select {
        font-family: Arial, Helvetica, sans-serif;
    }
}
/* Base */
html {
    overflow-y: scroll;
}
body {
    background: #f3f3f3;
    font-family: "Montserrat";
    color: #333333 !important;
}
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.row > div {
    margin-bottom: 15px;
}
.alerts-container .alert:last-child {
    margin-bottom: 0;
}
#page-wrapper2 {
    padding-left: 0px;
    height: 100%;
}

#page-wrapper2 #sidebar-wrapper {
    margin-left: -350px;
    left: -30px;
    width: 450px;
    position: fixed;
    height: 100%;
    z-index: 999;
}
#page-wrapper2,
#page-wrapper3,
#sidebar-wrapper {
    transition: all .4s ease 0s;
}
.green {
    background: #23ae89 !important;
}
.blue {
    background: #2361ae !important;
}
.orange {
    background: #d3a938 !important;
}
.red {
    background: #ae2323 !important;
}
.form-group .help-block.form-group-inline-message {
    padding-top: 5px;
}
div.input-mask {
    padding-top: 7px;
}


/* #592727 RED */
/* #2f5927 GREEN */
/* #30426a BLUE (default)*/
/* Sidebar background color */
/* Sidebar header and footer color */
/* Sidebar title text colour */
/* Sidebar menu item hover color */
/**
 * Sidebar
 */
#sidebar-wrapper {
    background: #30426a;
}
ul.sidebar .sidebar-main a,
.sidebar-footer,
ul.sidebar .sidebar-list a:hover,
#page-wrapper2:not(.open) ul.sidebar .sidebar-title.separator {
    /* Sidebar header and footer color */
    background: #2d3e63;
}
ul.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    text-indent: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}
ul.sidebar li #link {
    color: #fff;
    display: block;
    float: left;
    text-decoration: none;
    width: 450px;
}
ul.sidebar .sidebar-main {
    height: 65px;
}
ul.sidebar .sidebar-main a {
    font-size: 18px;
    line-height: 60px;
}
ul.sidebar .sidebar-main a:hover {
    cursor: pointer;
}
ul.sidebar .sidebar-main .menu-icon {
    float: right;
    font-size: 18px;
    padding-right: 28px;
    line-height: 60px;
}
ul.sidebar .sidebar-title {
    color: #738bc0;
    font-size: 12px;
    height: 35px;
    line-height: 40px;
    text-transform: uppercase;
    transition: all .6s ease 0s;
}
ul.sidebar .sidebar-list {
    height: 40px;
}
ul.sidebar .sidebar-list a {
    text-indent: 25px;
    font-size: 15px;
    color: #b2bfdc;
    line-height: 40px;
}
ul.sidebar .sidebar-list a:hover {
    color: #fff;
    border-left: 3px solid #e99d1a;
    text-indent: 22px;
}
ul.sidebar .sidebar-list a:hover .menu-icon {
    text-indent: 25px;
}
ul.sidebar .sidebar-list .menu-icon {
    float: right;
    padding-right: 29px;
    line-height: 40px;
    width: 70px;
}
#page-wrapper2:not(.open) ul.sidebar {
    bottom: 0;
}
#page-wrapper2:not(.open) ul.sidebar .sidebar-title {
    display: none;
    height: 0px;
    text-indent: -100px;
}
#page-wrapper2:not(.open) ul.sidebar .sidebar-title.separator {
    display: block;
    height: 2px;
    margin: 13px 0;
}
#page-wrapper2:not(.open) ul.sidebar .sidebar-list a:hover span {
    border-left: 3px solid #e99d1a;
    text-indent: 22px;
}
#page-wrapper2:not(.open) .sidebar-footer {
    display: none;
}
.editor-footer {
    height: 40px;
    float:left;
    width: 100%;
    bottom: 0;
    padding: 0;
    margin: 0;
    transition: all .6s ease 0s;
    text-align: center;
}
.editor-footer div a {
    color: #b2bfdc;
    font-size: 12px;
    line-height: 43px;
}
.editor-footer div a:hover {
    color: #ffffff;
    text-decoration: none;
}

/* #592727 RED */
/* #2f5927 GREEN */
/* #30426a BLUE (default)*/
/* Sidebar background color */
/* Sidebar header and footer color */
/* Sidebar title text colour */
/* Sidebar menu item hover color */

/**
 * Widgets
 */
.widget {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    background: #ffffff;
    border: 1px solid transparent;
    border-radius: 2px;
    border-color: #e9e9e9;
}
.widget .widget-header .pagination,
.widget .widget-footer .pagination {
    margin: 0;
}
.widget .widget-header {
    color: #767676;
    background-color: #f6f6f6;
    padding: 10px 15px;
    border-bottom: 1px solid #e9e9e9;
    line-height: 30px;
}
.widget .widget-header i {
    margin-right: 5px;
}
.widget .widget-body {
    padding: 20px;
}
.widget .widget-body table thead {
    background: #fafafa;
}
.widget .widget-body table thead * {
    font-size: 14px !important;
}
.widget .widget-body table tbody * {
    font-size: 13px !important;
}
.widget .widget-body .error {
    color: #ff0000;
}
.widget .widget-body button {
    margin-left: 5px;
}
.widget .widget-body div.alert {
    margin-bottom: 10px;
}
.widget .widget-body.large {
    height: 350px;
    overflow-y: auto;
}
.widget .widget-body.medium {
    height: 250px;
    overflow-y: auto;
}
.widget .widget-body.small {
    height: 150px;
    overflow-y: auto;
}
.widget .widget-body.no-padding {
    padding: 0;
}
.widget .widget-body.no-padding .error,
.widget .widget-body.no-padding .message {
    padding: 20px;
}
.widget .widget-footer {
    border-top: 1px solid #e9e9e9;
    padding: 10px;
}
.widget .widget-icon {
    background: #30426a;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-right: 15px;
}
.widget .widget-icon i {
    line-height: 66px;
    color: #ffffff;
    font-size: 30px;
}
.widget .widget-footer {
    border-top: 1px solid #e9e9e9;
    padding: 10px;
}
.widget .widget-title .pagination,
.widget .widget-footer .pagination {
    margin: 0;
}
.widget .widget-content .title {
    font-size: 28px;
    display: block;
}
.ace_editor  {
    height : 500px;
}

/*
add zpl sidebar
*/
.ttt{
    float: right;
}
.btn_clickd{
    color: #E9D3D3 !important;
    text-decoration: none;
}
.bubblingG {
    text-align: center;
    width:80px;
    height:50px;
}

.bubblingG span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 25px auto;
    background: #113D87;
    -moz-border-radius: 50px;
    -moz-animation: bubblingG 1.3s infinite alternate;
    -webkit-border-radius: 50px;
    -webkit-animation: bubblingG 1.3s infinite alternate;
    -ms-border-radius: 50px;
    -ms-animation: bubblingG 1.3s infinite alternate;
    -o-border-radius: 50px;
    -o-animation: bubblingG 1.3s infinite alternate;
    border-radius: 50px;
    animation: bubblingG 1.3s infinite alternate;
}

#bubblingG_1 {
    -moz-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

#bubblingG_2 {
    -moz-animation-delay: 0.39s;
    -webkit-animation-delay: 0.39s;
    -ms-animation-delay: 0.39s;
    -o-animation-delay: 0.39s;
    animation-delay: 0.39s;
}

#bubblingG_3 {
    -moz-animation-delay: 0.78s;
    -webkit-animation-delay: 0.78s;
    -ms-animation-delay: 0.78s;
    -o-animation-delay: 0.78s;
    animation-delay: 0.78s;
}

@-moz-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:#113D87;
        -moz-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color:#FFFFFF;
        -moz-transform: translateY(-21px);
    }

}

@-webkit-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:#113D87;
        -webkit-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color:#FFFFFF;
        -webkit-transform: translateY(-21px);
    }

}

@-ms-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:#113D87;
        -ms-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color:#FFFFFF;
        -ms-transform: translateY(-21px);
    }

}

@-o-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:#113D87;
        -o-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color:#FFFFFF;
        -o-transform: translateY(-21px);
    }

}

@keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:#113D87;
        transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color:#FFFFFF;
        transform: translateY(-21px);
    }

}