<!-- Section: intro -->
<section id="intro" class="intro">

    <div class="col-xs-8">
        <div class="slogan">
            <h2>让你的代码跑起来</h2>
            <h4>随时随地，在线实践</h4>
        </div>
        <div class="page-scroll">
            <a href="/show.html" class="btn-lg btn-skin btn-scroll">试一发</a>
            <!--<a href="#service" class="btn btn-circle">-->
                <!--<i class="fa fa-angle-double-down animated"></i>-->
            <!--</a>-->
        </div>
    </div>
    <div>

    </div>
</section>
<!-- /Section: intro -->

<!--<section class="hero" id="intro">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-12 text-right navicon">-->
                <!--<a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-md-8 col-md-offset-2 text-center inner">-->
                <!--<div class="animatedParent">-->
                    <!--<h1 class="animated fadeInDown">码上跑</h1>-->
                    <!--<p class="animated fadeInUp">最专业的IT互助学习平台</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-md-6 col-md-offset-3 text-center">-->
                <!--<a href="#about" class="learn-more-btn btn-scroll">Learn more</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
