<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="footer-menu">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">服务条款</a></li>
                    <li><a href="#">帮助中心</a></li>
                </ul>
            </div>
            <div class="col-md-6 text-right">
                <p>&copy;Copyright 2014 - learn4me.com</p>
            </div>
        </div>
    </div>
</footer>