
<!-- Section: about -->
<section id="about" class="home-section color-dark bg-white">
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="animatedParent">
                    <div class="section-heading text-center animated bounceInDown">
                        <h2 class="h-bold">码上跑——最佳的IT交流学习平台</h2>
                        <div class="divider-header"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">


        <div class="row">


            <div class="col-lg-8 col-lg-offset-2 animatedParent">
                <div class="text-center">
                    <p>
                        码上跑是专业针对IT行业资深工程师与行业新手搭建起交流平台
                    </p>
                    <p>
                        对于资深工程师，可以在这里发布自己的微教程，码上跑为微教程提供全套的代码执行环境，让您的教程中的示例代码完美跑起来，让学员边学习边实践
                    </p>
                    <p>
                        对于新手，这里可以抛弃复杂的环境配置，不受任何的语言限制，简单方面，随时可学
                    </p>
                    <a href="/show.html" class="btn-lg btn-skin btn-scroll">试一发</a>
                </div>
            </div>


        </div>
    </div>

</section>
<!-- /Section: about -->


<!-- Section: services -->
<section id="service" class="home-section color-dark bg-gray">
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div>
                    <div class="section-heading text-center">
                        <h2 class="h-bold">我们为什么最专业</h2>
                        <div class="divider-header"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="text-center">
        <div class="container">

            <div class="row animatedParent">
                <div class="col-xs-6 col-sm-4 col-md-4">
                    <div class="animated rotateInDownLeft">
                        <div class="service-box">
                            <div class="service-icon">
                                <span class="fa fa-laptop fa-2x"></span>
                            </div>
                            <div class="service-desc">
                                <h5>微教程</h5>
                                <div class="divider-header"></div>
                                <p>
                                    您还为自己写的教程的代码不能即刻运行感到遗憾么？没关系，我们提供海量后台语言支持，让您教程中的代码马上跑起来，为您的IT教育实践提供强有力支撑。
                                </p>
                                <!--<a href="#" class="btn-lg btn-skin">Learn more</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4">
                    <div class="animated rotateInDownLeft slow">
                        <div class="service-box">
                            <div class="service-icon">
                                <span class="fa fa-book fa-2x"></span>
                            </div>
                            <div class="service-desc">
                                <h5>在线学习</h5>
                                <div class="divider-header"></div>
                                <p>
                                    您还为教程中的实验辛辛苦苦的配置环境么？没关系，我们提供高度可自定义的编程环境为您所用，为您的IT学习提供强有力支撑。
                                </p>
                                <!--<a href="#" class="btn btn-skin">Learn more</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4">
                    <div class="animated rotateInDownLeft slower">
                        <div class="service-box">
                            <div class="service-icon">
                                <span class="fa fa-question fa-2x"></span>
                            </div>
                            <div class="service-desc">
                                <h5>答疑解惑</h5>
                                <div class="divider-header"></div>
                                <p>
                                    前端都有JSfiddle作为代码交流答疑工具，后端怎么可以没有！您只需要在我们这里复现您的问题，一键分析给大牛，让大牛来解决您的疑惑。
                                </p>
                                <!--<a href="#" class="btn btn-skin">Learn more</a>-->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- /Section: services -->


<!-- Section: works -->
<!--<section id="works" class="home-section color-dark text-center bg-white">-->
<!--<div class="container marginbot-50">-->
<!--<div class="row">-->
<!--<div class="col-lg-8 col-lg-offset-2">-->
<!--<div>-->
<!--<div class="animatedParent">-->
<!--<div class="section-heading text-center">-->
<!--<h2 class="h-bold animated bounceInDown">What we have done</h2>-->
<!--<div class="divider-header"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->

<!--<div class="container">-->

<!--<div class="row animatedParent">-->
<!--<div class="col-sm-12 col-md-12 col-lg-12" >-->

<!--<div class="row gallery-item">-->
<!--<div class="col-md-3 animated fadeInUp">-->
<!--<a href="img/works/1.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">-->
<!--<img src="img/works/1.jpg" class="img-responsive" alt="img">-->
<!--</a>-->
<!--</div>-->
<!--<div class="col-md-3 animated fadeInUp slow">-->
<!--<a href="img/works/2.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">-->
<!--<img src="img/works/2.jpg" class="img-responsive" alt="img">-->
<!--</a>-->
<!--</div>-->
<!--<div class="col-md-3 animated fadeInUp slower">-->
<!--<a href="img/works/3.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">-->
<!--<img src="img/works/3.jpg" class="img-responsive" alt="img">-->
<!--</a>-->
<!--</div>-->
<!--<div class="col-md-3 animated fadeInUp">-->
<!--<a href="img/works/4.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">-->
<!--<img src="img/works/4.jpg" class="img-responsive" alt="img">-->
<!--</a>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</section>-->
<!-- /Section: works -->

<!-- Section: contact -->
<section id="contact" class="home-section nopadd-bot color-dark bg-gray text-center">
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="animatedParent">
                    <div class="section-heading text-center">
                        <h2 class="h-bold animated bounceInDown">立刻来体验吧</h2>
                        <div class="divider-header"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">

        <div class="row marginbot-80">
            <div class="col-md-8 col-md-offset-2">
                <form id="contact-form">
                    <div class="row marginbot-20">
                        <div class="col-md-6 xs-marginbot-20">
                            <input type="text" class="form-control input-lg" id="name" placeholder="Enter name" required="required" />
                        </div>
                        <div class="col-md-6">
                            <input type="email" class="form-control input-lg" id="email" placeholder="Enter email" required="required" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!--<div class="form-group">-->
                            <!--<input type="text" class="form-control input-lg" id="subject" placeholder="Subject" required="required" />-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                            <!--<textarea name="message" id="message" class="form-control" rows="4" cols="25" required="required"-->
                            <!--placeholder="Message"></textarea>-->
                            <!--</div>-->
                            <button type="submit" class="btn btn-skin btn-lg btn-block" id="btnContactUs">
                                立刻注册</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
</section>
<!-- /Section: contact -->

