<!doctype html>
<html lang="en" ng-app="RDash">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>码上跑</title>
    <link rel="stylesheet" type="text/css" href="css/mine-dashboard.css">
    <!-- STYLES -->
    <!-- build:css lib/css/main-dashboard.min.css -->
    <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="components/rdash-ui/dist/css/rdash.min.css">
    <link rel="stylesheet" type="text/css" href="components/jquery.steps/demo/css/jquery.steps.css">
    <link rel="stylesheet" type="text/css" href="components/jquery.steps/demo/css/main.css">
    <link rel="stylesheet" type="text/css" href="components/jquery.steps/demo/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="components/ngDialog/css/ngDialog.min.css">
    <link rel="stylesheet" type="text/css" href="components/ngDialog/css/ngDialog-theme-default.min.css">
    <link rel="stylesheet" type="text/css" href="components/ngDialog/css/ngDialog-theme-plain.min.css">
    <link rel="stylesheet" type="text/css" href="components/redactor/redactor/redactor.css">


    <!-- endbuild -->
    <!-- SCRIPTS -->
    <!-- build:js lib/js/main-dashboard.min.js -->
    <script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="components/redactor/redactor/redactor.js"></script>
    <script type="text/javascript" src="components/angular/angular.min.js"></script>
    <script type="text/javascript" src="components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="components/ngstorage/ngStorage.min.js"></script>
    <script type="text/javascript" src="components/ngDialog/js/ngDialog.min.js"></script>
    <script type="text/javascript" src="components/angular-permission/dist/angular-permission.js"></script>
    <script type="text/javascript" src="components/jquery.steps/build/jquery.steps.min.js"></script>
    <script type="text/javascript" src="components/angular-ueditor/dist/angular-ueditor.js"></script>
    <script type="text/javascript" src="models/model-data.js"></script>
    <!-- endbuild -->
    <!-- Custom Scripts -->
    <script type="text/javascript" src="js/dashboard.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="ueditor/ueditor.all.js"> </script>
    <style>
        .validation-valid {
            color: #0074D9;
        }

        .validation-invalid {
            color: #FF4136;
        }
    </style>
</head>
<body ng-controller="MasterCtrl">
<div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar">
            <li class="sidebar-main">
                <a ng-click="toggleSidebar()">
                    我的
                    <span class="menu-icon glyphicon glyphicon-transfer"></span>
                </a>
            </li>
            <li class="sidebar-list">
                <a ui-sref="index">控制台 <span class="menu-icon fa fa-tachometer"></span></a>
            </li>
            <li class="sidebar-title"><span>个人中心</span></li>
            <li class="sidebar-list">
                <a ui-sref="mycode">我的代码 <span class="menu-icon fa fa-code"></span></a>
            </li>
            <li class="sidebar-list">
                <a ui-sref="myimage">我的镜像 <span class="menu-icon fa fa-tasks"></span></a>
            </li>
            <li class="sidebar-title"><span>代码仓</span></li>
            <li class="sidebar-list">
                <a ui-sref="codehub" class="fa fa-fire">代码热 <span class="menu-icon fa fa-flag"></span></a>
            </li>
            <li class="sidebar-list">
                <a ui-sref="imagehub" class="fa fa-fire">镜像热 <span class="menu-icon fa fa-truck"></span></a>
            </li>
        </ul>
        <div class="sidebar-footer">
            <div class="col-xs-4">
                <a href="https://github.com/rdash/rdash-angular" target="_blank">
                    首页
                </a>
            </div>
            <div class="col-xs-4">
                <a href="https://github.com/rdash/rdash-angular/README.md" target="_blank">
                    关于我们
                </a>
            </div>
            <div class="col-xs-4">
                <a href="#">
                    帮助文档
                </a>
            </div>
        </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
        <div class="page-content">

            <!-- Header Bar -->
            <div class="row header">
                <div class="col-xs-12">
                    <div class="user pull-right">
                        <div class="item dropdown">
                            <a href="#" class="dropdown-toggle">
                                <img src="/img/avatar.jpg">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">
                                    {{user.name}}
                                </li>
                                <li class="divider"></li>
                                <li class="link">
                                    <a href="/dashboard.html">
                                        个人中心
                                    </a>
                                </li>
                                <!--<li class="link">-->
                                    <!--<a href="#">-->
                                        <!--我的资料-->
                                    <!--</a>-->
                                <!--</li>-->
                                <li class="divider"></li>
                                <li class="link">
                                    <a href="#" ng-click="logout()">
                                        退出登陆
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="item dropdown">
                            <a href="#" class="dropdown-toggle">
                                <i class="fa fa-bell-o"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">
                                    通知
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">你的镜像被xx fork啦!</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="meta">
                        <div class="page">
                            控制台
                        </div>
                        <div class="breadcrumb-links">
                            <a href="home.html">Home</a> / <a href="dashboard.html"> Dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Bar -->

            <!-- Main Content -->
            <div ui-view></div>

        </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
</div><!-- End Page Wrapper -->
</body>
</html>